---
import BaseLayout from "../layouts/layout.astro";
---

<BaseLayout title="Box 28012. Madrid.">
	<p class="text-text">My page content, wrapped in a layout!</p>
	<p class="text-accent">My page content, wrapped in a layout!</p>
	<p class="text-muted">My page content, wrapped in a layout!</p>
	<p class="text-surface">My page content, wrapped in a layout!</p>
</BaseLayout>
